body{
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    color:white;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(FRANKIE.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}